<html lang="en">
<head>
  <%- include('meta') %>
</head>
<body>
  <%- include('header') %>
  <main class="min-h-screen w-70p pt-2 block-center">
    <p class="text-xl font-medium">All articles</p>
    <div>
      <% blogPosts.forEach(posts => { %>
        <a href="<%= posts.url %>" class="p-0">
          <div class="u-round-sm u-border-1	px-2 py-1 border-purple-200 bg-indigo-100 w-100p mb-2">
            <p class="truncate"><%= posts.title %></p>
            <p class="text-sm m-0 truncate">Published on: <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date(posts.datePublished)) %></p>
            <p class="text-xs m-0 truncate">Estimated Read Time: ~<%= posts.readingTime.value %> minute(s)</p>
          </div>
        </a>
      <% }) %>
    </div>
  </main>
  <%- include('cookie') %>
  <%- include('footer') %>
</body>
</html>
