<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/meta') %>
  </head>
  <body>
    <%- include('../components/header') %>
    <main class="min-h-screen">
      <div class="h-50vh w-100p u-center bg-pink-100 u-shadow-inset">
        <div class="w-70p py-4 u-flex u-justify-center u-align-stretch u-flex-column-reverse u-flex-row-md">
          <div class="w-100p w-50p-md u-text-center px-2">
            <p class="font-medium text-xl">Welcome to my blog 📚</p>
            <p>I am Jake - Software Developer <i>who is not very good at UX 😅</i></p>
            <p>Articles on this site are based on whatever I want to write about - mostly projects I am working on!</p>
          </div>
          <div class="w-100p w-50p-md u-relative u-none u-block-md">
            <img class="h-70p h-90p-lg abs-center u-z-50" src="https://www.gravatar.com/avatar/bb21622fe089a07b029d9851505f68e7?size=512" alt="Picture of Jake">
            <div class="h-80p h-100p-lg abs-center">
              <div class="abs-center h-100p u-z-30"><div class="border-danger bg-red-200 h-100p u-border-8 aspect-1 rotate-m-30"></div></div>
              <div class="abs-center h-100p u-z-40"><div class="border-warning bg-yellow-200 h-100p u-border-8 aspect-1"></div></div>
              <div class="abs-center h-100p u-z-20"><div class="border-info bg-blue-200 h-100p u-border-8 aspect-1 rotate-30"></div></div>
              <div class="abs-center h-100p u-z-1"><div class="border-teal-400 bg-teal-200 h-100p u-border-8 aspect-1 rotate-15"></div></div>
              <div class="abs-center h-100p u-z-10"><div class="border-orange-400 bg-orange-200 h-100p u-border-8 aspect-1 rotate-m-45"></div></div>
              <div class="abs-center h-100p u-z-1"><div class="border-purple-400 bg-purple-200 h-100p u-border-8 aspect-1 rotate-m-15"></div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100p py-2 min-h-50vh">
        <div class="w-70p block-center">
          <p class="font-medium text-xl">Latest Articles</p>
          <div class="u-flex u-flex-wrap">
            <% blogPosts.forEach(posts => { %>
              <div class="w-100p w-30p-md px-2 py-1 mr-1 mb-1 u-round-sm u-border-1	border-purple-200 bg-indigo-100">
                <a href="<%= posts.url %>" class="p-0">
                  <p class="truncate m-0"><%= posts.title %></p>
                  <p class="text-sm m-0 truncate">Published on: <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date(posts.datePublished)) %></p>
                  <p class="text-xs m-0 truncate">Estimated Read Time: ~<%= posts.readingTime.value %> minute(s)</p>
                </a>
              </div>
            <% }) %>
          </div>
          <br />
          <p class="font-medium text-xl mt-0">My Favourites ❤️</p>
          <div class="u-flex u-flex-wrap">
            <% favouritePosts.forEach(posts => { %>
              <div class="w-100p w-30p-md px-2 py-1 mr-1 mb-1 u-round-sm u-border-1	border-red-200 bg-pink-100">
                <a href="<%= posts.url %>" class="p-0">
                  <p class="truncate m-0"><%= posts.title %></p>
                  <p class="text-sm m-0 truncate">Published on: <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date(posts.datePublished)) %></p>
                  <p class="text-xs m-0 truncate">Estimated Read Time: ~<%= posts.readingTime.value %> minute(s)</p>
                </a>
              </div>
            <% }) %>
          </div>
        </div>
      </div>
    </main>
    <%- include('../components/cookie') %>
    <%- include('../components/footer') %>
  </body>
</html>
